.git
.cache
**/build/
**/dist/
**/assets/
**/__pycache__/
**/*.pyc
*.egg-info/
.eggs/
.idea/
**/*.out
**/*.zip
**/*.ptb
**/*.env
**/*.log
**/*.swp
**/.ipynb_checkpoints

.coverage
.coverage.*
coverage/

datalake/
corpora/
logs/

**/.~*.md

.vscode/

deps/daisy

htmlcov/
result/

*.pickle
*.p
